<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>me.takeba.Mafuyu</string>
			<key>Developer Identifier</key>
			<string>G25QY7L958</string>
			<key>CFBundleVersion</key>
			<string>121</string>
			<key>CFBundleShortVersionString</key>
			<string>1.2.1</string>
			<key>URL</key>
			<string>http://bitbucket.org/s.take/mafuyu/downloads/Mafuyu.1.2.1.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
